@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/assets/font/DejaVuSansMono.eot');
    src: url('/assets/font/DejaVuSansMono.eot?#iefix') format('embedded-opentype'),
        url('/assets/font/DejaVuSansMono.woff2') format('woff2'),
        url('/assets/font/DejaVuSansMono.woff') format('woff'),
        url('/assets/font/DejaVuSansMono.ttf') format('truetype'),
        url('/assets/font/DejaVuSansMono.svg#DejaVuSansMono') format('svg');
    font-weight: normal;
    font-style: normal;
}

