---
# required but useless front matter
---
$sidebar-bg-color: #1d3d77;
$body-color: #515151;
$body-bg: #fefefe;
$link-color: #0086b3;
$sidebar-width: 16em;
$root-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
@import "hydeout";
